.post_sci_1_0_0 {
    margin: 40px 0;
    color: #000;
    text-align: justify;
    &__position {
        font-size: 18px;
        font-weight: 600;
        color: #bbbbbb;
        border-bottom: 1px solid #bbbbbb;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    &__header {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 600;
        color: #007ac1;
        margin-bottom: 20px;
    }
    &__about {
        margin-bottom: 15px;
    }
    &__title {
        font-weight: 600;
        margin-bottom: 10px;
    }
    &__item {
        margin-bottom: 15px;
    }
}
