html {
    font-size: 13px;
    @media(max-width: 1440px) {
        font-size: 12px;
    }
    @media(max-width: 320px) {
        font-size: 11px;
    }
}

.screen1 {
    .slider {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 300px;
        padding-bottom: 48.55% !important;
        &__item {
            background-size: cover;
            position: absolute;
            left: 100%;
            width: 100%;
            top: 0px;
            height: auto;
        }
        &Nav {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
            width: 100%;
            &:hover {
                cursor: pointer;
            }
        }
        &Prev {
            position: relative;
            float: left;
            left: 10px;
        }
        &Next {
            position: relative;
            float: right;
            right: 10px;
        }
        &Next img,
        &Prev img {
            width: 60px;
            height: auto;
        }
    }
    .responsive-16by9 {
        padding-bottom: 56.25%;
    }
    .responsive {
        position: relative;
        display: block;
        height: 0;
        padding: 0;
        padding-bottom: 0px;
        overflow: hidden;
    }
    .responsive__item {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
    .slideInRight {
        left: -100%;
        animation: slideIn 1s forwards;
    }
    .slideInLeft {
        left: 100%;
        animation: slideIn 1s forwards;
    }
    .slideOutLeft {
        animation: slideOutLeft 1s forwards;
    }
    .slideOutRight {
        animation: slideOutRight 1s forwards;
    }
    @media (max-width:767px) {
        max-width: 428px;
        margin: 0 auto;
        .slider {
            padding-bottom: 178.12% !important;
        }
    }
}

.screen2 {
    padding: 40px 0;
    &__box {
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }
    &__left {
        width: 48%;
        p {
            font-size: 16px;
            text-align: justify;
        }
    }
    &__right {
        width: 48%;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    &__title {
        font-size: 2.5rem;
        color: #075BBD;
        text-transform: uppercase;
        font-weight: 600;
        padding-bottom: 10px;
        border-bottom: 2px solid #075BBD;
        margin-bottom: 20px;
    }
    @media(max-width: 912px) {
        &__title {
            font-size: 2rem;
        }
        &__left {
            p {
                font-size: 14px;
            }
        }
    }
}

.screen3 {
    padding: 40px 0;
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__title {
        width: 42%;
        font-size: 2.5rem;
        color: #075BBD;
        text-transform: uppercase;
        font-weight: 600;
    }
    &__sub {
        width: 48%;
        font-size: 1.2rem;
        text-align: justify;
    }
    &__box {
        display: flex;
        justify-content: center;
    }
    &__tabs {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    &__tab {
        text-align: center;
        padding: 10px;
        font-size: 1.4rem;
        font-weight: 600;
        color: #fff;
        background: #27343B;
        cursor: pointer;
        transition: all 0.2s linear;
        &:hover {
            background: #075BBD;
        }
    }
    &--active {
        background: #075BBD;
    }
    &__content {
        width: 70%;
        background: #075BBD;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__main {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: flex-start;
        ul {
            width: 45%;
            color: #fff;
            font-size: 1.2rem;
            padding-left: 25px;
            list-style: none;
            padding: 0;
        }
        img {
            width: 55%;
            display: block;
            height: auto;
        }
    }
    &__footer {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__line {
        height: 2px;
        width: 100%;
        background: #00E0FF;
    }
    &__desc {
        width: 30%;
        min-width: 300px;
        color: #fff;
        font-size: 1.6rem;
    }
    @media(max-width: 912px) {
        &__tab {
            font-size: 1rem;
        }
    }
}

.screen4 {
    background: #F5F5F5;
    padding: 40px 0;
    &__header {
        font-size: 2.5rem;
        margin-bottom: 20px;
        text-align: center;
        text-transform: uppercase;
        color: #075BBD;
        font-weight: 600;
    }
    &__box {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    &__item {
        width: 25%;
        padding: 10px;
        background: #fff;
        min-height: 450px;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
        p {
            font-size: 1.2rem;
            text-align: justify;
            margin-top: 10px;
            span {
                color: #075BBD;
            }
        }
    }
    @media(max-width: 912px) {
        &__box {
            flex-wrap: wrap;
            gap: 20px;
            width: 80%;
            margin: 0 auto;
        }
        &__item {
            width: 48%;
            padding: 15px;
            background: #fff;
            min-height: 400px;
        }
    }
}

.screen5 {
    padding: 40px 0;
    &__header {
        font-size: 2.5rem;
        color: #075BBD;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        margin-bottom: 20px;
    }
    &__item {
        position: relative;
        display: flex;
        justify-content: center;
    }
    &__left {
        width: 50%;
        text-align: end;
        font-size: 2.5rem;
        font-weight: 600;
        color: #075BBD;
        padding: 20px;
        align-self: center;
    }
    &__right {
        width: 50%;
        padding: 40px 20px;
        text-align: justify;
        font-size: 16px;
    }
    &__line {
        position: relative;
        width: 3px;
        background: #CCCACA;
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 24px;
            border-radius: 20px;
            height: 24px;
            background: #CCCACA;
        }
    }
    &__left2 {
        width: 50%;
        padding: 40px 20px;
        text-align: end;
        font-size: 16px;
    }
    &__right2 {
        align-self: center;
        width: 50%;
        font-size: 2.5rem;
        font-weight: 600;
        color: #075BBD;
        padding: 20px;
    }
}

.screen6 {
    padding: 40px 0;
    &__header {
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 20px;
        span {
            font-size: 2.5rem;
            display: block;
            color: #075BBD;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;
            margin-bottom: 10px;
        }
    }
    &__banner {
        min-height: 840px;
        &.loaded {
            background: url(../images/t6-bg.jpg) center 0 no-repeat;
            background-size: 1920px;
        }
    }
    @media(max-width: 1440px) {
        &__banner {
            min-height: 630px;
            &.loaded {
                background-size: 1440px;
            }
        }
    }
    @media(max-width: 912px) {
        &__banner {
            min-height: 490px;
            &.loaded {
                background-size: 1120px;
            }
        }
    }
}

.screen7 {
    padding: 40px 0;
    &__header {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 20px;
    }
    &__title {
        width: 42%;
        font-size: 2.5rem;
        color: #075BBD;
        text-transform: uppercase;
        font-weight: 600;
    }
    &__sub {
        width: 60%;
        font-size: 1.2rem;
        text-align: justify;
    }
    &__box {
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }
    &__left {
        width: 42%;
        background: url(../images/t7-bg.jpg)center 0;
        padding: 20px;
        color: #fff;
        font-size: 1.2rem;
        text-align: justify;
    }
    &__right {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
    }
    &__item {
        display: flex;
        img {
            width: 50%;
            height: auto;
            display: block;
        }
        span {
            display: block;
            width: 50%;
            background: #075BBD;
            color: #fff;
            font-size: 1.8rem;
            text-transform: uppercase;
            padding: 20px;
        }
    }
}