.news_sci_1_2_0 {
  padding: 40px 0 20px 0;
  &__title {
    color: #2386c7;
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid #2386c7;
  }
  &__box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  &__left {
    width: 60%;
  }
  &__right {
    width: 38%;
  }
  &__item {
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    margin-top: 20px;
  }
  &__bot {
    padding: 10px;
  }
  &__top {
    overflow: hidden;
    display: block;
    img {
      width: 100%;
      display: block;
      height: auto;
      transition: all 0.2s linear;
    }
  }
  &__top:hover {
    img {
      transform: scale(1.03);
    }
  }

  &__titleItem {
    font-size: 16px;
    color: #2386c7;
    font-weight: bold;
    margin: 10px 0;
    text-transform: uppercase;
    display: block;
  }
  @media (max-width: 1200px) {
    &__right {
      width: 37%;
    }
  }
  @media (max-width: 912px) {
    &__titleItem {
      font-size: 14px;
    }
    &__des {
      font-size: 13px;
    }
  }
  @media (max-width: 767px) {
    padding: 30px 0 15px 0;
    &__box {
      margin-top: 10px;
    }
    &__left,
    &__right {
      width: 100%;
    }
    &__title {
      font-size: 17px;
    }
    &__item {
      width: 100%;
    }
    &__titleItem {
      margin: 5px 0;
    }
  }
}
