.slider_sci_1_3_0 {
    background: url(../images/slider.jpg?ver=1) center 0 no-repeat;
    min-height: 674px;

    @media (max-width: 1440px) {
        background-size: 1440px;
        min-height: 506px;
    }
    @media (max-width: 1180px) {
        background-size: 1180px;
        min-height: 415px;
    }
    @media (max-width: 820px) {
        background-size: 820px;
        min-height: 288px;
    }
    @media (max-width: 767px) {
        background-size: cover;
    }
    @media (max-width: 320px) {
        min-height: 350px;
    }
}
