.video_sci_1_0_0 {
    padding: 20px 0;
    font-family: var(--primary-font);
    &__pic {
        background-color: #01446b;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            opacity: 55%;
            display: block;
            transition: all 0.2s linear;
            filter: grayscale(1);
        }
        &::after {
            content: "";
            position: absolute;
            background: url(../images/video_sci_1_0_0-icon.png) center 0 no-repeat;
            background-size: 100%;
            width: 85px;
            height: 117px;
            display: block;
            left: calc(50% - 35px);
            top: calc(50% - 70px);
            transition: 0.3s;
            opacity: 1;
        }
    }
    &__pic:hover {
        img {
            transform: scale(1.03);
            filter: grayscale(0);
            opacity: 80%;
        }
    }
    &__box {
        position: relative;
    }
    &__text {
        position: absolute;
        top: 20px;
        left: 100px;
        padding: 0 15px;
        color: #fff;
        font-weight: 100;
        border-left: 3px solid #fff;
        transition: all 0.2s linear;
        font-size: 20px;
        b {
            font-weight: 600;
            font-size: 23px;
        }
    }
    @media (max-width: 1180px) {
        &__text {
            font-size: 17px;
            b {
                font-size: 20px;
            }
        }
        &__pic {
            &::after {
                width: 75px;
            }
        }
    }
    @media (max-width: 820px) {
        &__text {
            font-size: 18px;
            left: 70px;
        }
        &__pic {
            &::after {
                width: 70px;
            }
        }
    }
    @media (max-width: 767px) {
        padding: 15px 0;
        &__text {
            b {
                font-size: 17px;
            }
            font-size: 14px;
            left: 30px;
            padding: 0 10px;
            top: 15px;
        }
        &__pic {
            &::after {
                width: 50px;
                left: calc(50% - 25px);
                top: calc(50% - 35px);
            }
        }
    }
    @media (max-width: 375px) {
        &__text {
            font-size: 14px;
            padding: 0 7px;
        }
        &__pic {
            &::after {
                width: 40px;
                top: calc(50% - 25px);
            }
        }
    }
    @media (max-width: 280px) {
        &__text {
            font-size: 13px;
            padding: 0 5px;
            left: 25px;
        }
        &__pic {
            &::after {
                width: 35px;
                top: calc(50% - 20px);
            }
        }
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.fadeInUp {
    &.loaded {
        animation: fadeInUp 1.5s;
    }
}
