@-webkit-keyframes slideIn {
  100% {
    left: 0;
  }
}
@keyframes slideIn {
  100% {
    left: 0;
  }
}
.slideInRight {
  left: -100%;
  -webkit-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}

.slideInLeft {
  left: 100%;
  -webkit-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}

@-webkit-keyframes slideOutLeft {
  100% {
    left: -100%;
  }
}
@keyframes slideOutLeft {
  100% {
    left: -100%;
  }
}
.slideOutLeft {
  -webkit-animation: slideOutLeft 1s forwards;
  animation: slideOutLeft 1s forwards;
}

@-webkit-keyframes slideOutRight {
  100% {
    left: 100%;
  }
}
@keyframes slideOutRight {
  100% {
    left: 100%;
  }
}
.slideOutRight {
  -webkit-animation: slideOutRight 1s forwards;
  animation: slideOutRight 1s forwards;
}

.screen1 .container,
.screen2 .container,
.screen3 .container,
.screen4 .container,
.screen5 .container,
.screen6 .container,
.screen7 .container {
  max-width: 428px;
}

.screen1 .slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 500px;
  padding-bottom: 32.25% !important;
}
.screen1 .slider__item {
  background-size: cover;
  position: absolute;
  left: 100%;
  width: 100%;
  top: 0px;
  height: auto;
}
.screen1 .sliderNav {
  position: absolute;
  top: 40%;
  z-index: 999;
  width: 100%;
}
.screen1 .sliderNav:hover {
  cursor: pointer;
}
.screen1 .sliderPrev {
  position: relative;
  float: left;
  left: 50px;
}
.screen1 .sliderNext {
  position: relative;
  float: right;
  right: 50px;
}
.screen1 .sliderNext img, .screen1 .sliderPrev img {
  width: 32px;
}
.screen1 .responsive-16by9 {
  padding-bottom: 56.25%;
}
.screen1 .responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  padding-bottom: 0px;
  overflow: hidden;
}
.screen1 .responsive__item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.screen2 {
  padding: 20px 0 0;
}
.screen2__title {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  color: #2386c7;
  text-transform: uppercase;
}
.screen2__title hr {
  width: 33%;
  height: 1px;
  background-color: red;
  margin: 10px auto;
}
.screen2__box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 10px;
}
.screen2__item {
  width: 48%;
  background: #F3F9FF;
}
.screen2__item img {
  display: block;
  width: 17px;
  height: auto;
  float: right;
  margin-top: -1px;
  margin-right: 20px;
}
.screen2__item-3 {
  width: 100%;
}
.screen2__des {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  background-color: #009DF5;
  text-align: center;
  padding: 13px 10px;
}
.screen2__text {
  padding: 17px 10px;
  text-align: justify;
}
.screen2__contact {
  padding: 10px;
}
@media (max-width: 320px) {
  .screen2__title {
    font-size: 18px;
  }
  .screen2__item {
    width: 100%;
  }
  .screen2__des {
    font-size: 15px;
    padding: 13px 4px;
  }
}
@media (max-width: 320px) {
  .screen2__title {
    font-size: 16px;
  }
  .screen2__contact ul {
    padding-left: 20px;
  }
  .screen2__des {
    font-size: 15px;
    padding: 13px 4px;
  }
}

.screen3 {
  padding: 20px 0 0;
}
.screen3__title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  color: #2386c7;
}
.screen3__des {
  text-align: center;
  padding: 10px 0;
  font-weight: 500;
}
.screen3__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.screen3__item {
  width: 100%;
}
.screen3__item-1 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.screen3__img {
  padding: 15px;
  overflow: hidden;
}
.screen3__img img {
  width: 100%;
  height: auto;
  opacity: 100%;
}
.screen3__name {
  font-weight: 600;
  text-align: right;
  padding-right: 15px;
}
.screen3__detail {
  background-color: #009DF5;
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 100%;
  border-radius: 5px;
  justify-content: space-between;
}
.screen3__detail img {
  width: 30px;
  height: auto;
}
.screen3 .dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}
.screen3__text {
  display: none;
  position: absolute;
  background-color: #DBEDFF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
}
.screen3__text a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.screen3 .screen3__text a:hover {
  background-color: #fff;
}
.screen3 .dropdown:hover .screen3__text {
  display: block;
}
.screen3 .dropdown:hover .screen3__detail {
  background-color: #0080ff;
}
.screen3 .tns-controls {
  display: none;
}
.screen3 .tns-nav > [aria-controls] {
  width: 14px;
  height: 14px;
}
.screen3 .tns-nav > .tns-nav-active {
  background: #01A4DD;
}
.screen3 .tns-nav {
  float: left;
  margin: -20px 0px 10px 10px !important;
}
@media (max-width: 320px) {
  .screen3__title {
    font-size: 17px;
  }
  .screen3__des {
    font-size: 13px;
  }
  .screen3__detail {
    padding: 16px 10px;
  }
}
@media (max-width: 280px) {
  .screen3__title {
    font-size: 15px;
  }
  .screen3__des {
    font-size: 14px;
  }
  .screen3__name {
    font-size: 14px;
  }
  .screen3 .tns-nav > [aria-controls] {
    width: 10px;
    height: 10px;
  }
  .screen3__detail img {
    width: 25px;
  }
}

.screen4 {
  padding: 20px 0 0;
}
.screen4__title {
  font-size: 20px;
  color: #2386c7;
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
}
.screen4__des {
  color: #000;
  font-weight: 500;
  padding: 10px 0 20px;
}
.screen4__box {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #2386c7;
}
.screen4__item {
  width: 100%;
}
.screen4__pic {
  overflow: hidden;
}
.screen4__pic img {
  width: 100%;
  height: auto;
  transition: all 0.2s linear;
}
.screen4__pic img:hover {
  transform: scale(1.03);
}
.screen4__doctor {
  background: gray;
  border-top: 1px solid #fff;
}
.screen4__doctor ul {
  padding: 10px;
  margin: 0;
}
.screen4__doctor ul li {
  font-weight: 500;
  text-align: center;
  list-style: none;
}
.screen4__doctor.active {
  background: #2386c7;
}
.screen4__detail {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.screen4__info {
  width: 100%;
}
.screen4__pic {
  width: 100%;
}
.screen4__note {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-style: italic;
  padding-bottom: 10px;
}
@media (max-width: 320px) {
  .screen4__title {
    font-size: 18px;
  }
  .screen4__note {
    font-size: 14px;
  }
  .screen4__info ul {
    padding-left: 33px;
  }
}
@media (max-width: 280px) {
  .screen4__note {
    font-size: 12px;
  }
  .screen4__info ul {
    padding-left: 25px;
  }
}

.screen5 {
  padding: 20px 0 0;
}
.screen5__box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}
.screen5__item {
  width: 100%;
  background: url(../images/page5-bg.jpg) center 0 no-repeat;
  padding: 20px;
  background-size: cover;
}
.screen5__title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}
.screen5__des {
  color: #fff;
  padding: 10px 0;
}
.screen5__detail {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.screen5__img {
  width: 100%;
  overflow: hidden;
}
.screen5__img img {
  width: 100%;
  height: auto;
  display: block;
}
.screen5__content {
  width: 100%;
}
.screen5__pic {
  overflow: hidden;
}
.screen5__pic img {
  width: 100%;
  height: auto;
  display: block;
  transition: all 0.2s linear;
}
.screen5__pic img:hover {
  transform: scale(1.03);
}
.screen5 .tns-controls {
  margin-bottom: 0px !important;
}
.screen5 .tns-controls [aria-controls] {
  position: absolute;
  top: 67%;
  left: -10px;
  background: none;
  font-size: 40px;
  color: #000;
}
.screen5 .tns-controls [aria-controls]:nth-child(2n) {
  display: none;
}
.screen5 .tns-controls [aria-controls]:hover {
  color: #fff;
}
.screen5 .tns-nav {
  display: none;
}
@media (max-width: 375px) {
  .screen5 .tns-controls [aria-controls] {
    top: 68%;
  }
}
@media (max-width: 320px) {
  .screen5__title {
    font-size: 18px;
  }
  .screen5 .tns-controls [aria-controls] {
    top: 72%;
    left: -20px;
  }
}
@media (max-width: 280px) {
  .screen5__title {
    font-size: 17px;
  }
  .screen5__item {
    padding: 15px 10px 10px;
  }
  .screen5__des {
    padding: 0 0 10px;
  }
  .screen5 .tns-controls [aria-controls] {
    top: 74%;
    left: -15px;
    font-size: 33px;
  }
}

.screen6 {
  padding: 30px 0;
}
.screen6__title {
  display: flex;
  font-weight: 600;
  color: #2386c7;
  font-size: 26px;
  justify-content: space-between;
}
.screen6__des {
  font-weight: 500;
  font-size: 15px;
  color: #000;
  width: 57%;
}
.screen6__des ul {
  margin: 0;
  padding: 0;
}

.screen7 {
  padding: 30px 0;
}
.screen7__box {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.screen7__item {
  width: 100%;
}
.screen7__title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 30px;
}
.screen7__des {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 0;
}
.screen7__content ul {
  padding: 0;
  margin: 0;
}
.screen7__content li {
  list-style: none;
}
.screen7__pic {
  padding-bottom: 10px;
}
.screen7__pic img {
  width: 100%;
  height: auto;
  display: block;
}
.screen7__item-2 {
  padding: 15px;
  border: 1px solid gray;
}
@media (max-width: 320px) {
  .screen7__title {
    font-size: 18px;
  }
  .screen7__des {
    font-size: 14px;
  }
}
@media (max-width: 280px) {
  .screen7__title {
    font-size: 17px;
    line-height: 25px;
  }
  .screen7__des {
    font-size: 13px;
  }
  .screen7__content li {
    font-size: 14px;
  }
}/*# sourceMappingURL=hongha.css.map */