.history_sci_1_0_0 {
    padding: 20px 0;
    &__content {
        font-size: 23px;
        text-transform: uppercase;
        font-weight: 600;
        border-left: 3px solid red;
        padding: 0 8px;
    }
    &__box {
        position: relative;
    }
    &__list {
        display: flex;
        gap: 40px;
        justify-content: center;
        position: relative;
        padding: 20px 0;
    }
    &__item {
        width: 26%;
        text-align: center;
    }
    &__img {
        img {
            width: 100%;
            height: auto;
        }
    }
    &__line {
        width: 3px;
        background-color: #2386c7;
        height: 80px;
        margin: 0 auto;
    }
    &__number {
        padding: 20px;
        border: 1px solid #000;
        border-radius: 100%;
        width: 88px;
        height: 85px;
        margin: 0 auto;
        font-weight: bold;
    }
    &__since {
        width: 70%;
        margin: 10px auto 0;
    }
    &__line2 {
        position: absolute;
        bottom: 180px;
        img {
            width: 100%;
            height: auto;
        }
    }
    @media (max-width: 1180px) {
        &__content {
            font-size: 21px;
        }
        &__since {
            width: 75%;
        }
        &__line {
            height: 70px;
        }
    }
    @media (max-width: 912px) {
        &__since {
            font-size: 14px;
        }
        &__line2 {
            bottom: 170px;
        }
    }
    @media (max-width: 820px) {
        &__content {
            font-size: 19px;
        }
        &__line {
            height: 55px;
        }
        &__line2 {
            bottom: 165px;
        }
    }
    @media (max-width: 767px) {
        &__list {
            flex-wrap: wrap;
        }
        &__item {
            width: 100%;
        }
        &__line2 {
            display: none;
        }
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.fadeInUp {
    &.loaded {
        animation: fadeInUp 1.5s;
    }
}

.fadeInLeft {
    &.loaded {
        animation: fadeInLeft 1.5s;
    }
}

.fadeInDown {
    &.loaded {
        animation: fadeInDown 1.5s;
    }
}
.fadeInRight {
    &.loaded {
        animation: fadeInRight 1.5s;
    }
}
