.about_sci_1_0_0 {
    padding: 40px 0 20px 0;
    font-family: var(--primary-font);
    &__box {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    &__item {
        width: calc((100% / 3) - 7px);
        position: relative;
    }
    &__item-1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__content {
        padding: 20px;
        color: #000;
        text-align: justify;
    }
    &__pic {
        width: 100%;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            display: block;
            transition: all 0.2s linear;
        }
        img:hover {
            transform: scale(1.03);
        }
    }
    &__detail {
        display: flex;
        align-items: center;
        gap: 20px;
        color: white;
        position: absolute;
        bottom: 0px;
        width: 100%;
        justify-content: center;
    }
    &__des {
        font-weight: bold;
        font-size: 65px;
        font-family: var(--secondary-font);
    }
    &__text {
        font-weight: 600;
        font-size: 17px;
        font-family: var(--secondary-font);
    }
    &__text-1 {
        text-align: center;
    }
    &__detail-2 {
        display: grid;
        gap: 0;
        line-height: 50px;
    }
    @media (max-width: 1180px) {
        &__des {
            font-size: 50px;
        }
        &__text {
            font-size: 16px;
        }
        &__detail-2 {
            line-height: 41px;
        }
    }
    @media (max-width: 820px) {
        &__content {
            font-size: 14px;
            padding: 0 10px;
        }
        &__des {
            font-size: 38px;
        }
        &__text {
            font-size: 14px;
        }
        &__detail {
            gap: 10px;
        }
        &__detail-2 {
            line-height: 32px;
            gap: 0;
        }
    }
    @media (max-width: 767px) {
        padding: 30px 0 15px 0;
        &__item {
            width: 48%;
        }
        &__content {
            font-size: 12px;
            padding: 0;
        }
        &__des {
            font-size: 30px;
        }
        &__text {
            font-size: 12px;
        }
        &__detail {
            bottom: 5px;
        }
        &__detail-2 {
            line-height: 27px;
        }
    }
    @media (max-width: 390px) {
        &__content {
            font-size: 11px;
            font-weight: 500;
            padding: 0;
        }
        &__des {
            font-size: 24px;
        }
        &__text {
            font-size: 11px;
        }
        &__detail {
            gap: 5px;
        }
        &__detail-2 {
            line-height: 22px;
            gap: 0;
        }
    }
    @media (max-width: 320px) {
        &__content {
            font-size: 9px;
        }
        &__des {
            font-size: 20px;
        }
        &__text {
            font-size: 10px;
            line-height: 15px;
        }
        &__detail {
            display: grid;
            line-height: 18px;
            gap: 0;
        }
        &__detail-2 {
            line-height: 18px;
        }
    }
    @media (max-width: 280px) {
        &__content {
            font-size: 8px;
        }
        &__box {
            gap: 7px;
        }
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.fadeInUp {
    &.loaded {
        animation: fadeInUp 1.5s;
    }
}

.fadeInLeft {
    &.loaded {
        animation: fadeInLeft 1.5s;
    }
}
.fadeInRight {
    &.loaded {
        animation: fadeInRight 1.5s;
    }
}
