.screen1 .container,
.screen2 .container,
.screen3 .container,
.screen4 .container,
.screen5 .container,
.screen6 .container,
.screen7 .container,
.screen8 .container,
.screen9 .container,
.screen10 .container {
    max-width: 428px;
}
.screen1 {
    background: url(../images/page1-bg.jpg) center 0 no-repeat;
    background-size: 428px;
    min-height: 198px;
    @media (max-width: 320px) {
        background-size: 320px;
    min-height: 143px;
    }
}

.content {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    border-left: 3px solid red;
    padding: 0 8px;
    @media (max-width: 320px) {
        font-size: 18px;
    }
}

.screen2 {
    padding: 20px 0 0;
    &__title {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        color: #2386c7;
    }
    &__des {
        text-align: center;
        margin: 0 auto;
        color: #000;
        font-weight: 600;
    }
    &__box {
        justify-content: center;
    }
    &__item {
        padding: 10px 0 0;
    }
    &__detail {
        background: url(../images/page2-p1.jpg) center 0 no-repeat;
        background-size: cover;
        padding: 10px;
        margin: 10px 0;
        img {
            width: 22px;
            height: auto;
            padding-right: 5px;
        }
    }
    &__text {
        color: #fff;

        p {
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            margin: 5px 0 0 0 ;
        }
        b {
            font-size: 13px;
        }
    }
    &__item-2 {
        margin-left: auto;
    }
    @media (max-width: 320px) {
        &__title {
            font-size: 15px;
        }
    }
}
.screen3 {
        background: url(../images/item3-bg.jpg) center 0  no-repeat;
        background-size: 100%;
        width: 100%;
        padding: 20px 0 0;
    &__text {
        ol {
            padding-left: 16px;
            font-size: 16px;
            line-height: 30px;
            font-weight: 600;
            margin: 10px 0;
        }
        span {
            color: #2386c7;
        }
    }
    &__btn {
        color: #2386c7;
        border: 1px solid #2386c7;
        padding: 10px;
        border-radius: 30px;
        width: 31%;
        text-align: center;
    }
    @media (max-width: 320px) {
        &__text {
            ol {
                font-size: 14px;
                line-height: 27px;
            }
        }
        &__btn {
            width: 40%;
            padding: 7px;
        }
    }
}
.screen4 {
    padding: 10px 0;
    &__box {
        position: relative;
        padding-top: 15px;
    }
    &__list {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        position: relative;
        padding: 20px 0;
    }
    &__item {
        width: 20%;
        text-align: center;
    }
    &__img {
        img {
            width: 100%;
            height: auto;
        }
    }
    &__line {
        width: 3px;
        background-color: #2386c7;
        height: 70px;
        margin: 0 auto;
    }
    &__number {
        padding: 37px 0;
        border: 1px solid #000; 
        border-radius: 100%;
        width: 25%;
        margin: 0 auto;
        font-weight: bold;
    }
    &__since {
        text-align: center;
        padding: 15px 0 0;
    }
    &__line2 {
        position: absolute;
        bottom: 160px;
        img {
            width: 100%;
            height: auto;
        }
    }
    .tns-controls {
        display: none;
    }
    .tns-nav {
        display: none;
    }
    @media (max-width: 390px) {
        &__number {
            padding: 31px 0;
        }
        &__line2 {
            bottom: 150px;
        }
    }
    @media (max-width: 320px) {
        &__number {
            padding: 23px 0;
        }
        &__line2 {
            bottom: 130px;
        }
        &__line {
            height: 60px;
        }
    }
    @media (max-width: 280px) {
        &__number {
            padding: 18px 0;
        }
        &__line2 {
            bottom: 138px;
        }
        &__line {
            height: 50px;
        }
    }
}
.screen5 {
    
    &__list {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    &__text {
        padding: 10px 0; 
    }
    &__item {
        width: 100%;
    }
    &__info {
        margin: 0 auto 10px;
    }
    &__pic{
        img {
            width: 100%;
            height: auto;
        }
    }
    &__name {
        display: flex;
        justify-content: space-around;
        text-align: center;
        b {
            font-size: 16px;
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    &__detail {
        width: 48%;
    }
    @media (max-width: 390px) {
        &__name {
            p {
                font-size: 13px;
            }
        }
    }
}
.screen6 {
    padding: 20px 0;
    &__text {
        ol {
            margin: 10px 0;
            padding-left: 15px;
        }
    }
}
.screen7 {
    &__pic {
        img {
            width: 100%;
            height: auto;
        }
    }
}
.screen8 {
    padding: 20px 0 0;
    &__content {
        font-size: 23px;
        text-transform: uppercase;
        font-weight: 600;
        border-left: 3px solid red;
        padding: 0 8px;
    }
    &__text {
        padding: 15px 0;
        ol {
            padding-left: 15px;
            line-height: 30px;
            margin: 0;
        }
    }
    &__list {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
    }
    &__pic {
        width: 48%;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    @media (max-width: 375px) {
        &__pic {
            width: 47%;
        }
    }
}
.screen9 {
    padding: 20px 0 10px;
    &__title {
        font-size: 19px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        color: #2386c7;
        margin-bottom: 20px;
    }
    &__box {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
        padding: 15px 0;
    }
    &__item {
        overflow: hidden;
        width: 47%;
        position: relative;
        img {
            width: 100%;
            height: auto;
            display: block;
            filter: grayscale(1);
            transition: all 0.2s linear;
        }
        &:hover {
            img {
                filter: grayscale(0);
                transform: scale(1.05);
            }
            .screen9__text {
                transform: translateY(100%);
            }
        }
    }
    &__text {
        min-height: 70px;
        font-size: 12px;
        padding: 10px;
        color: #fff;
        margin: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 132, 227, 0.65);
        transition: all 0.2s linear;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
            font-size: 13px;
            text-transform: uppercase;
            font-weight: 600;
            margin: 0;
        }
        span {
            position: relative;
            display: block;
            width: fit-content;
            margin-left: auto;
            padding-left: 17px;
            &::before {
                position: absolute;
                content: '';
                left: 0;
                bottom: 3px;
                background: url(../images/service-icon.svg) center 0 no-repeat;
                background-size: 13px;
                width: 13px;
                height: 13px;
            }
        }
    }
    @media (max-width: 390px) {
        &__text {
            min-height: 65px;
            p {
                font-size: 12px;
            }
        }
    }
    @media (max-width: 320px) {
        &__item {
            width: 100%;
        }
        &__text {
            p {
                font-size: 15px;
            }
        }
    }
}